.bg-custom{
	background-color: #303f9f;
}
.navbar .nav-item:hover .nav-link {
	background-color: white;
	color: #303f9f;
	border-radius: 15px;
}
.footer{
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px;
        }

       
.footer a {
            color: #fff;
            text-decoration: none;
        }

        /* CSS cho liên kết hover */
.footer a:hover {
            text-decoration: underline;
        }
